<div class="main-background">

  <!-- Large Screen Header -->
  <div class="navbar-fixed hide-on-med-and-down">
    <nav class="main-nav">
        <div class="row">
          <div class="col s3">
            <div class="center-align">
              <img src="https://s3-us-west-1.amazonaws.com/ivotify-images/logo.png" alt="" id="logo-nav-btn" />
            </div>
          </div>
          <div class="col s4 right-align">
         </div>
        </div>
    </nav>
  </div>

  <a class="btn feedback-button hide-on-med-and-down" rel="leanModal" href="#feedback-modal">
    <span class="feedback-desktop-text">FEEDBACK</span>
  </a>

  <!--Navigation for Mobile -->
  <div class="row">
    <div class="col s12 hide-on-large-only center-align" id="mobile-navbar">
      <a class="btn col s4" id="nav-mobile-btn" ui-sref='main.issues'>Issues</a>
      <button class="btn col s4" id="logo-nav-mobile">ivotify</button>
      <a class="btn col s4" id="candidate-nav-mobile" ui-sref='main.candidate' ng-click="getScope().bannerCandidate = true; getScope().showBanner = true; getScope().pickCandidate = false; getScope().hideBio = false; topScroll(); random(issues);">Candidates</a>
    </div>
  </div>

  <!--Navigation for Desktop -->
  <div class="row" id="main-body">
    <div class="col s12 l3 column-nav">
      <div class="collection">

        <!-- Below is only seen on mobile -->
        <p class="hide-on-large-only" id="pick-issue-banner" ng-show="bannerCandidate">Pick a Candidate</p>

        <!-- Toggle Buttons on Large Screens-->
        <div class="toggle-content hide-on-small-and-down">
          <div class="togglebox">
            <a class="btn hide-on-med-and-down" id="toggle-nav-btn" ui-sref='main.issues'>Issues</a>
            <a class="btn hide-on-med-and-down" id="candidate-nav-btn" ui-sref='main.candidate' ng-click="getScope().bannerCandidate = true; getScope().showBanner = true; getScope().pickCandidate = false; getScope().hideBio = false; topScroll(); random(issues);">Candidates</a>
          </div>
        </div>

  <!-- Candidate List for both mobile and desktop -->
  <div class="item-body" ng-repeat="candidate in candidates">
    <a href="javascript:void(0)" ng-click="getScope().showBanner = false; getScope().pickCandidate = true; showBio(candidate); getScope().hideBio = true; getScope().bannerCandidate = false" ng-model="item.title" class="collection-item" ng-hide="pickCandidate">
      <h6 class="issue-items">{{candidate.full_name}}</h6>
    </a>
    <div ng-show="hideBio">
    <div class="summary-box" ng-show="currentCandidate == candidate">
      <h6 class="collection-item-chosen" >
        <a ng-click="getScope().bannerCandidate = true; getScope().showBanner = true; getScope().pickCandidate = false; getScope().hideBio = false; topScroll(); random(issues);" class="back-button"><img id="back-arrow" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Back+Button.svg" alt=""> </a>
        {{candidate.full_name}}

        <!-- Next Arrow Mobile -->
        <a class="hide-on-large-only" ng-click="bioNext($index + 1); topScroll()"><img id="next-arrow" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Next.svg" alt=""> </a>

      </h6>
      <div class="scroll-summary">
        <!-- <p class="situtation-bar"> BIO </p> -->
        <div class="summary">
          <!-- <p ng-model="item.summary" class="item-summary">{{candidate.bio}}</p> -->
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="center-align hide-on-large-only" id="button-box-mobile">
          <button class="btn" id="share-mobile"> SHARE </button>
          <button class="btn" id="give-feedback-mobile" ui-sref='main.feedback_cand_mobile'> GIVE FEEDBACK </button>
        </div>
        <div class="hide-on-med-and-down">
            <button class="btn" id="next-issue-desktop" ng-click="bioNext($index + 1); topScroll()">
              Next Candidate
              <img class="right-align" id="next-arrow-candidate" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Next.svg" alt="">
            </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
  <!--Quote Pop-up List for Candidates Page -->
  <div class="col s12 l7 candidate-quote-module">
      <img ng-show="showBanner" class="ng-hide hide-on-med-and-down" id="rushmose-image" src="https://s3-us-west-1.amazonaws.com/ivotify-images/candidate_splash.png">
      <span ng-show="showBanner" class="ng-hide hide-on-med-and-down" id="splash-text">FINALLY, POLITICS SIMPLIFIED.</span>
        <div class="ng-hide" id="quote-body" ng-show="pickCandidate">
          <div class="candidate-quote" ng-repeat="item in issues">
              <p class="issue-name center-align" ng-style="set_header(item)">
              <img class="candidate-image" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Issue+Icons/{{item.title}}.png">
              {{item.title | uppercase}}
              </p>
                <div class="quotes-repeat" ng-repeat="quote in currentCandidate.quotes | filter: {issue_id: item.id}">
                  <div class="quote">
                    <hr class="quote-divider">
                      <p class="quote-one center-align">
                        <img src="https://s3-us-west-1.amazonaws.com/ivotify-images/quotation.png" alt="" class="quotation-marks"/>
                        <br>
                          {{quote.body}}
                      </p>
                  </div>
                  <div class="quote">
                      <p class="source-bar right-align"><span class="source-text">{{quote.source | uppercase}}</span></p>
                  </div>
                </div>
          </div>
        </div>
      </div>


</div>


<!-- Feedback Modal -->
<div id="feedback-modal" ng-style="modalSize" class="modal">

  <!-- Submission Confirmation -->
  <div class="feedback-submission-form" ng-show="feedbackDesk">
    <div class="top-header">
      <h4 class="feedback-label">Thanks!</h4>
    </div>
    <div class="feedback-body">
      <p class="thank-you-text center-align">
        Your feedback will help us give you the best experience with ivotify.
      </p>
      <div class="center-align">
        <a class="modal-action modal-close" ng-click="feedbackDesk = false" id="thank-you-container"><img id="thank-you-check" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Thank-you-check.png" alt=""> </a>
      </div>

    </div>
  </div>

  <!-- Feedback Form - Pre Confirmation -->
  <form name="feedback_form" novalidate ng-submit="save()" ng-hide="feedbackDesk">
    <div class="top-header">
      <h4 class="feedback-label">Give us feedback</h4>
    </div>
    <div class="feedback-body">
      <textarea id="feedback-box" ng-model="feedback.body" type="text" placeholder="Share any suggestions or comments with us. We'd love to hear your thougths and ideas about ivotify" required></textarea>
    </div>
    <div class="modal-footer-feedback">
      <div class="row" id="bottom-feedback">
          <button class="modal-action modal-close btn waves-effect center-align" id="cancel-feedback" name="action"
          type="reset">Cancel</button>
          <button class="modal-action btn waves-effect waves-light center-align" id="feedback-save"
           type="submit" name="action" ng-disabled="feedback_form.$invalid" ng-click="feedbackDesk = true; modalSize={'width':'50vh'}">Submit</button>
      </div>
    </div>
  </form>

</div>
