<div class="main-background">

  <!-- Large Screen Header -->
  <div class="navbar-fixed hide-on-small-and-down">
    <nav class="main-nav">
        <div class="row">
          <div class="col s3">
            <div class="center-align">
              <button class="btn" id="logo-nav-btn"></button>
            </div>
          </div>
          <div class="col s4 right-align">
         </div>
        </div>
    </nav>
  </div>

  <!--Navigation for Mobile -->
  <div class="hide-on-med-and-up center-align" id="mobile-navbar">
    <a class="btn" id="nav-mobile-btn" ui-sref='main.issues'>Issues</a>
    <button class="btn" id="logo-nav-mobile"></button>
    <a class="btn" id="candidate-nav-mobile" ui-sref='main.candidate'>Candidates</a>
  </div>

  <!--Navigation for Desktop -->
  <div class="row" id="main-body">
    <div class="col s12 m4 l3 column-nav">
      <div class="collection">
        <!-- Below is only seen on mobile -->
        <p class="hide-on-med-and-up" id="pick-issue-banner" ng-show="bannerCandidate">Pick a Candidate</p>

        <!-- Toggle Buttons on Medium Screens and Up -->
        <div class="toggle-content hide-on-small-and-down">
          <div class="togglebox">
            <a class="btn hide-on-small-and-down" id="toggle-nav-btn" ui-sref='main.issues'>Issues</a>
            <a class="btn hide-on-small-and-down" id="candidate-nav-btn" ui-sref='main.candidate'>Candidates</a>
          </div>
        </div>

  <!-- Candidate List for both mobile and desktop -->
  <div class="item-body" ng-repeat="candidate in candidates">
    <a href="javascript:void(0)" ng-click="getScope().showBanner = false; getScope().pickCandidate = true; showBio(candidate); getScope().hideBio = true; getScope().bannerCandidate = false" ng-model="item.title" class="collection-item" ng-hide="pickCandidate">
      <h6 class="issue-items">{{candidate.full_name}}</h6>
    </a>
    <div ng-show="hideBio">
    <div class="summary-box" ng-show="currentCandidate == candidate">
      <h6 class="collection-item-chosen" >
        <a ng-click="getScope().bannerCandidate = true; getScope().showBanner = true; getScope().pickCandidate = false; getScope().hideBio = false; topScroll(); g" class="back-button"><img id="back-arrow" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Back+Button.svg" alt=""> </a>
        {{candidate.full_name}}
        <a ng-click="bioNext($index + 1); topScroll()"><img id="next-arrow" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Next.svg" alt=""> </a>

      </h6>
      <div class="scroll-summary">
        <p class="situtation-bar"> BIO </p>
        <div class="summary">
          <p ng-model="item.summary" class="item-summary">{{candidate.bio}}</p>
        </div>
        <div class="hide-on-small-and-down">
            <button class="btn" id="next-issue-desktop" ng-click="bioNext($index + 1); topScroll()">
              Next Candidate
              <img class="right-align" id="next-arrow-candidate" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Next.svg" alt="">
            </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

  <!--Quote Pop-up List for Candidates Page -->
  <div class="col s12 m6 candidate-quote-module">
      <img ng-show="showBanner" class="ng-hide hide-on-med-and-down" id="rushmose-image" src="https://s3-us-west-1.amazonaws.com/ivotify-images/candidate_splash.png">

        <div class="ng-hide" id="quote-body" ng-show="pickCandidate">
          <div class="candidate-quote" ng-repeat="item in issues">
              <p class="issue-name center-align" ng-style="set_header(item)">
              {{item.title | uppercase}}
              </p>
                <div class="quotes-repeat" ng-repeat="quote in currentCandidate.quotes | filter: {issue_id: item.id}">
                  <div class="quote">
                      <p class="quote-one center-align">
                        <span class="quotation-marks">"</span>
                          {{quote.body}}
                        <span class="quotation-marks">"</span>
                      </p>
                  </div>
                  <div class="quote">
                      <p class="source-bar right-align">{{quote.source | uppercase}}</p>
                  </div>
                  <hr class="quote-divider">
                </div>
          </div>
        </div>
      </div>




</div>
