<div class="row" id="feedback-mobile-container">
  <div class="col s12" id="feedback-mobile-column">
    <form name="feedback_form_candidate" novalidate ng-submit="save()">
      <div class="top-header-mobile">
        <a class="back-button" ui-sref='main.candidate'><img id="back-arrow-feedback" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Back+Button.svg" alt=""> </a>
        <h4 class="feedback-label-mobile">Give us feedback</h4>
      </div>
      <div class="feedback-body-mobile">
        <textarea id="feedback-box-mobile" type="text" ng-model="feedback.body" placeholder="Share any suggestions or comments with us. We'd love to hear your thougths and ideas about ivotify" required></textarea>
      </div>
      <div class="footer-feedback-mobile ">
        <div class="row" id="bottom-feedback-mobile">
            <button class="modal-action modal-close btn waves-effect center-align" id="cancel-feedback-mobile" name="action"
            type="reset" ng-click="">Cancel</button>
            <button class="modal-action modal-close btn waves-effect waves-light center-align" id="feedback-save-mobile"
             type="submit" ng-click="sendFeedback()" ng-disabled="feedback_form_candidate.$invalid" name="action" >Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--Navigation for Mobile -->
<div class="row">
  <div class="col s12 hide-on-large-only" id="mobile-navbar">
    <a class="col s4 btn" id="nav-mobile-btn" ui-sref='main.issues' ng-click="getScope().bannerIssue = true; getScope().showBanner = true; getScope().pickIssue = false; getScope().hideSummary = false; topScroll(); random(candidates);">Issues</a>
    <button class="col s4 btn" id="logo-nav-mobile">ivotify</button>
    <a class="col s4 btn" id="candidate-nav-mobile" ui-sref='main.candidate'>Candidates</a>
  </div>
</div>
