<div class="main-background">

  <!-- Large Screen Header -->
  <div class="navbar-fixed hide-on-med-and-down" id="navbar-desktop">
    <nav class="main-nav">
        <div class="row">
          <div class="col s3">
            <div class="center-align">
              <img src="https://s3-us-west-1.amazonaws.com/ivotify-images/logo.png" alt="" id="logo-nav-btn"/>
            </div>
          </div>
          <!-- <div class="col s9 right-align">
            <div class="feedback-box">
              <input id="feedback-email-input" type="text" required/>
            </div>
            <a id="hover-tag" class="btn-floating btn-large waves-effect waves-light red"></a>
         </div> -->
        </div>
    </nav>
  </div>

  <a class="btn feedback-button hide-on-med-and-down" rel="leanModal" href="#feedback-modal" ng-click="feedbackDesk = false; modalSize={'width':'55%'}">
    <span class='feedback-desktop-text'>FEEDBACK</span></a>

  <!--Navigation for Mobile -->
  <div class="row">
    <div class="col s12 hide-on-large-only" id="mobile-navbar">
      <a class="col s4 btn" id="issue-nav-mobile" ui-sref='main.issues' ng-click="getScope().bannerIssue = true; getScope().showBanner = true; getScope().pickIssue = false; getScope().hideSummary = false; topScroll(); random(candidates);">Issues</a>
      <button class="col s4 btn" id="logo-nav-mobile">ivotify</button>
      <a class="col s4 btn" id="nav-mobile-btn" ui-sref='main.candidate'>Candidates</a>
    </div>
  </div>

  <!--Navigation for Desktop -->
  <div class="row" id="main-body">
    <div class="col s12 l3 column-nav">
      <div class="collection">
        <!-- Below is only seen on mobile -->
        <p class="hide-on-large-only" id="pick-issue-banner" ng-show="bannerIssue">Pick an Issue</p>

        <!-- Toggle Buttons on Medium Screens and Up -->
        <div class="toggle-content hide-on-med-and-down">
          <div class="togglebox">
            <a class="btn hide-on-med-and-down" id="issue-nav-btn" ui-sref='main.issues' ng-click="getScope().bannerIssue = true; getScope().showBanner = true; getScope().pickIssue = false; getScope().hideSummary = false; topScroll(); random(candidates);" >Issues</a>
            <a class="btn hide-on-med-and-down" id="toggle-nav-btn" ui-sref='main.candidate'>Candidates</a>
          </div>
        </div>


        <!-- Issue List for both mobile and desktop -->
        <div class="item-body" ng-repeat="item in issues">
          <a href="javascript:void(0)" ng-click="getScope().showBanner = false; getScope().bannerIssue = false; getScope().pickIssue = true; showSummary(item); getScope().hideSummary = true; " ng-model="item.title" class="collection-item" ng-hide="pickIssue">
            <h6 class="issue-items">{{item.title}}</h6>
          </a>
          <div ng-show="hideSummary">
          <div class="summary-box" ng-show="currentIssue == item">
            <h6 class="collection-item-chosen" >
              <a ng-click="getScope().bannerIssue = true; getScope().showBanner = true; getScope().pickIssue = false; getScope().hideSummary = false; topScroll(); random(candidates);" class="back-button"><img id="back-arrow" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Back+Button.svg" alt=""> </a>
              {{item.title}}

              <!-- Next Arrow Mobile -->
              <a class="hide-on-large-only" ng-click="itemNext($index + 1); topScroll()"><img id="next-arrow" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Next.svg" alt=""> </a>

            </h6>
            <div class="scroll-summary">
              <p class="situtation-bar"> THE SITUATION </p>
              <div class="summary">
                <p ta-bind="text" ng-model="item.summary" class="item-summary">{{item.summary}}</p>
              </div>
              <div class="center-align hide-on-large-only" id="button-box-mobile">
                <button class="btn" id="share-mobile"> SHARE </button>
                <button class="btn" id="give-feedback-mobile" ui-sref='main.feedback_issue_mobile'> GIVE FEEDBACK </button>
              </div>
            </div>
            <div class="hide-on-med-and-down">
                <button class="btn" id="next-issue-desktop" ng-click="itemNext($index + 1); topScroll(); random(candidates);">
                  Next Issue
                  <img class="right-align" id="next-arrow-issue" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Next.svg" alt="">
                </button>
            </div>
          </div>
          </div>
        </div>
      </div>

  <!--Quote Pop-up List for Issues Page-->
  <div class="col s12 l7 candidate-quote-module">
      <img ng-show="showBanner" class="ng-hide hide-on-med-and-down" id="rushmose-image" src="https://s3-us-west-1.amazonaws.com/ivotify-images/candidate_splash.png">
      <span ng-show="showBanner" class="ng-hide hide-on-med-and-down" id="splash-text">FINALLY, POLITICS SIMPLIFIED.</span>
        <div class="ng-hide" id="quote-body" ng-show="pickIssue">
          <div class="candidate-quote" ng-repeat="candidate in candidates">

              <p ng-style="set_color(candidate)" class="candidate-name center-align">
              <img class="candidate-image" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/{{candidate.first_name | uppercase}}.png">
              {{candidate.full_name | uppercase}}
              </p>
              <div class="quotes-repeat" ng-repeat="quote in candidate.quotes | filter: {issue_id: currentIssue.id}">
                <div class="quote">
                  <hr class="quote-divider">
                    <p class="quote-one center-align">
                      <span><img src="https://s3-us-west-1.amazonaws.com/ivotify-images/quotation.png" alt="" class="quotation-marks"/></span>
                      <br>
                        {{quote.body}}
                    </p>
                </div>
                <div class="quote">
                    <p class="source-bar right-align"><span class="source-text">{{quote.source | uppercase}}</span></p>
                </div>
              </div>
          </div>
        </div>
      </div>


</div>

<!-- Feedback Modal -->
<div id="feedback-modal" ng-style="modalSize" class="modal">

  <!-- Submission Confirmation -->
  <div class="feedback-submission-form" ng-show="feedbackDesk">
    <div class="top-header">
      <h4 class="feedback-label">Thanks!</h4>
    </div>
    <div class="feedback-body">
      <p class="thank-you-text center-align">
        Your feedback will help us give you the best experience with ivotify.
      </p>
      <div class="center-align">
        <a class="modal-action modal-close" ng-click="feedbackDesk = false; modalSize={'width':'55%'}" id="thank-you-container"><img id="thank-you-check" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Thank-you-check.png" alt=""> </a>
      </div>

    </div>
  </div>

  <!-- Feedback Form - Pre Confirmation -->
  <form name="feedback_form" novalidate ng-submit="save()" ng-hide="feedbackDesk">
    <div class="top-header">
      <h4 class="feedback-label">Give us feedback</h4>
    </div>
    <div class="feedback-body">
      <textarea id="feedback-box" ng-model="feedback.body" type="text" placeholder="Share any suggestions or comments with us. We'd love to hear your thoughts and ideas about ivotify." required></textarea>
    </div>
    <div class="modal-footer-feedback">
      <div class="row" id="bottom-feedback">
          <button class="modal-action modal-close btn waves-effect center-align" id="cancel-feedback" name="action"
          type="reset" ng-click="clearFeedback()">Cancel</button>
          <button class="modal-action btn waves-effect waves-light center-align" id="feedback-save"
           type="submit" name="action" ng-disabled="feedback_form.$invalid" ng-click="feedbackDesk = true; modalSize={'width':'50vh'}">Submit</button>
      </div>
    </div>
  </form>

</div>
