
// Colors ////////////////////////////////////////////////////////////////////////

$lightblue: #B6D9FD;
$paleblue: #F3FDFF;
$red: #FF6666;
$brightgreen: #2BEBB9;
$lightgrey: #EFEFEF;
$yellow: #F5E265;
$darkgrey: #636363;
$mediumgrey: #939393;
$purple: #871E77;
$lightpurple: #B0399D;
$button-color: #FF6666;



// Fonts ////////////////////////////////////////////////////////////////////////

@font-face {
  font-family: 'Futura Book';
  data-src:  url('src/app/assets/fonts/futura/futura-book.woff') format('woff'),
             url('src/app/assets/fonts/futura/futura-book.eot') format('eot'),
             url('src/app/assets/fonts/futura/futura-book.ttf') format('ttf');
}

@font-face {
  font-family: 'Futura Light';
  data-src: url('src/app/assets/fonts/futura/futura-light.woff') format('woff'),
            url('src/app/assets/fonts/futura/futura-light.eot') format('eot'),
            url('src/app/assets/fonts/futura/futura-light.ttf') format('ttf');
}

$futura-stack: 'Futura', 'Trebuchet MS', Arial, sans-serif;
$futura-book-stack: 'Futura Book', 'Futura', 'Trebuchet MS', Arial, sans-serif;
$futura-light-stack: 'Futura Light', Arial, sans-serif;


// Base Styles ////////////////////////////////////////////////////////////////////////

$base-font-size: 14px;
