.admin.issues.index.page {

  table {
    tr {
      th:first-child, th:last-child {
        width: 20%;
      }
      #issuetitle {
        font-size: 20px;
      }
    }
  }

}

.new-side-container{
  margin: 1em 0;
  padding: 1em 0;
  border: 1px solid #DFDFDF;
  border: 1px solid #DFDFDF;
}

.add-issue-side-btn {
  margin-bottom: 2em;
}

.summary-text {
  height: 2vh;
}

.background-text {
  height: 2vh;
}
