.col.s12.l6.candidate-quote-module {
  position: fixed;
  @media #{$medium-and-down} {
    display: block;
    position: relative;
    padding: 0;
  }
  @media #{$large-and-up} {
    left: 40%;
  }
  bottom: 0;
}

#quote-body {
  @extend .z-depth-2;
  padding: 15px 0 0 0;
  height: 87vh;
  background-color: white;
  margin: 0;
  @media #{$medium-and-down} {
    z-index: 0;
    box-shadow: none;
    height: 100vh;
  }
  @media #{$large-and-up} {
    overflow-y: scroll;
    border-radius: 10px 10px 0 0;
    // border: 1px solid #EBE9EC;
  }
}

.candidate-name {
  padding: 10px 0 10px 0;
  font-size: 1.6875em;
  position: relative;
  color: $darkgrey;
  font-family: $futura-stack;
  letter-spacing: 1.5px;
  @media #{$small-and-down} {
    font-size: 1.25em;
  }

}

.issue-name {
  padding: 10px 0 10px 0;
  font-size: 1.6875em;
  position: relative;
  color: $darkgrey;
  font-family: $futura-stack;
  letter-spacing: 1.5px;
  @media #{$small-and-down} {
    font-size: 1.25em;
  }
}

#rushmose-image {
  width: 75vw;
  right: 0;
  position: fixed;
  bottom: 0;
}

.source-bar {
  background-color: #EFEFEF;
  font-size: .8em;
  margin-bottom: 10%;
  margin-left: 15%;
  padding-right: 2%;
  color: $darkgrey;

}

.quote-one {
  font-size: 1em;
  font-family: $futura-light-stack;
  padding: 5% 15% 5% 15%;
  @media #{$small-and-down} {
    font-family: $futura-light-stack;
  }
}

.quotation-marks {
  font-family: 'ABeeZee', sans-serif !important;
	font-size: 30px;
}

.quote-divider {
  width: 80%;
  text-align: center;
}

.quotes-repeat:nth-of-type(even) .quote-divider {
  display: none;
}

.candidate-image {
  position: absolute;
  height: auto;
  z-index: 4;

  @media #{$small-and-down} {
  top: -40%;
  left: 3%;
  width: 92px;
  }
  @media (min-width: $tablet-min-width) and (max-width: $desktop-min-width) {
  top: -72%;
  left: 9%;
  width: 143px;
  }
  @media #{$large-and-up} {
  top: -35px;
  right: 73%;
  width: 125px;
  }
}
