.admin.candidates.index.page {
  .candidate-row {
    border-bottom: none;
  }
  .collapsible-header {
    text-align: center;
  }
  .collapsible-body {
    padding: 0 1em;
  }
  tr {
    position: relative;
  }
  td button {
    float: right;
    @media #{$medium-and-down} {
      position: absolute;
      top: 32px;
      right: 0; 
    }
  }

  .new-quote-container {
    margin: 1em 0;
    padding: 1em 0;
    border: 1px solid #DFDFDF;
    border: 1px solid #DFDFDF;
  }
}