.admin-nav {
  background-color: white;
}

#add-issue {
  background-color: $red;
}

#add-issue-mobile {
  width: 40px;
  padding: 0;
  background-color: $red;
}

#admin-btn-mobile-candidate {
  width: 110px;
  padding: 0;
}

#add-candidate {
  background-color: $red;
 } 