table {
  th {
    font-size: 1.3em;
  }
}

@media #{$medium-and-down} {
  table.responsive-table {
    tbody {
      white-space: normal;
      tr {
        display: block;
        vertical-align: top;
      }
      tr:first-child {
        display: none;
      }
    }
  }
  table.responsive-table.bordered {
    tbody {
      tr {
        border-bottom: 1px solid #d0d0d0;
        border-right: none;
      }
    }
  }
}

#candidate-list {
  top: 3vh;
}

.quote-divider-admin {
  width: 100%;
}

.candidate-divider {
  width: 100%;
}

#candidate-name {
  display: inline !important;
}

.admin-button-bar {
  height: 15vh;
}

.field-headers {
  font-size: 1.3em;
  font-weight: bold;
  // text-decoration: underline;
  font-family: $futura-book-stack;
}
