// COLUMN NAV COMPONENT
.row {
  margin-bottom: 0;
  position: relative;
  .col.s12.l3.column-nav {
    @extend .z-depth-1;
    border-radius: 0 10px 0 0;
    background-color: white;
    min-height: 87vh;
    padding: 0;
    bottom: 0;
    text-align: center;
    @media #{$medium-and-down} {
      border-radius: 0 0 0 0;
      min-height: 100vh;
    }
     @media #{$large-and-up} {
      position: fixed;
    }
    a {
      color: $darkgrey;
    }
    .collection {
      margin: 0 auto;
      border: none;
      @media #{$large-and-up} {
        position: absolute;
        width: 100%;
      }
      .collection-item {
        border-bottom: none;
      }
      a.collection-item:not(.active):hover {
        background-color: $button-color;
        color: white;
        & .issue-items {
          letter-spacing: 1px;
          font-family: $futura-book-stack;
        }

      }
    }
    ul {

    }
    .issue-items {
      letter-spacing: 0.5px;
      font-family: $futura-light-stack;
      margin: .1em;
      @media #{$large-and-up} {
        line-height: 30px;
        font-size: 4vh;
      }
      @media #{$medium-and-down} {
        font-size: 4vh;
      }
    }
  }
}




.toggle-content {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.issue-body {
  font-size: .5em;
}



#pick-issue-banner {
  background-color: $brightgreen;
  width: 100vw;
  margin-bottom: 0;
  color: white;
  font-size: 4.5vh;
}

.item-summary {
  padding: 0px 40px 0px 40px;
  text-align: left;
  color: $charcoal;
  @media #{$large-and-up} {
    font-family: $futura-book-stack;
  }
  @media #{$medium-and-down} {
    padding: 0px 45px 0px 55px;
    font-size: 1.3em;
    font-family: $futura-light-stack;
  }
}

.collection-item-chosen {
  background-color: $button-color;
  font-family: $futura-book-stack !important;
  font-size: 4vh;
  line-height: 7.5vh;
  color: white;
  margin: 0;
  @media #{$medium-and-down} {
    position: fixed;
    font-size: 5vh;
    line-height: 8.5vh;
    letter-spacing: .5px;
    width: 100%;
    height: 9vh;
    top: 0;
    z-index: 999;
  }
  @media #{$large-and-up} {
    padding-right: 1vw;
  }
}

.summary {
  overflow: scroll;
  position: static;
    @media #{$large-and-up} {
    height: 48vh;
    padding-bottom: 24px;
    }
}

.issue-background {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 0;
  text-align: left;
  overflow: scroll;
  position: static;
  @media #{$medium-and-down} {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

#issue-background-body {
  padding-left: 1.2vw;
  padding-right: 1vw;
  margin-top: 0;
  font-size: .94em;
  letter-spacing: .3px;
  text-align: left;
  color: $darkgrey;
  font-family: $futura-light-stack;
  @media #{$medium-and-down} {
    font-size: 1.3em;
  }
}

.issue-bullet {
  padding-left: 1.2vw;
  padding-right: 1vw;
  margin-top: 0;
  margin-bottom: 0;
  font-size: .94em;
  letter-spacing: .3px;
  text-align: left;
  color: $darkgrey;
  font-family: $futura-light-stack;
  @media #{$medium-and-down} {
    font-size: 1.3em;
  }
}

.background-title {
  padding-left: 1.2vw;
  font-family: $futura-book-stack;
  margin-bottom: -2vh;
  letter-spacing: 1px;
  font-size: 1em;
  color: black;
  padding-right: 1vw;
  @media #{$medium-and-down} {
    font-size: 1.5em;
  }
}

.issue-side {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 0;
  text-align: left !important;
  overflow: scroll;
  position: static;
  @media #{$medium-and-down} {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.issue-side:nth-of-type(odd) {
  margin-top: 1.5vh;
}

.outline {
  overflow: scroll;
  position: static;
    @media #{$large-and-up} {
    height: 48vh;
    padding-bottom: 24px;
    }
}

#more-button {
  background-color: $red;
  color: white;
  width: 10vw;
  padding: 0;
  box-shadow: none;
  font-size:2.3vh;
  height: 5.5vh;
  letter-spacing: 1.1px;
  margin-top: 2vh;
  font-family: $futura-book-stack;
  border-radius: 5px;
  @media #{$medium-and-down} {
    width: 42vw;
    height: 7.5vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
  }
}

#less-button {
  background-color: $red;
  color: white;
  width: 10vw;
  padding: 0;
  box-shadow: none;
  font-size:2.3vh;
  height: 5.5vh;
  letter-spacing: 1.1px;
  margin-top: 2vh;
  font-family: $futura-book-stack;
  border-radius: 5px;
  @media #{$medium-and-down} {
    width: 42vw;
    height: 7.5vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
  }
}

.issue-side-title {
  padding-left: 1.2vw;
  font-family: $futura-book-stack;
  margin-top: 0vh;
  margin-bottom: 0vh;
  letter-spacing: 1px;
  font-size: 1em;
  color: black;
  padding-right: 1vw;
  @media #{$medium-and-down} {
    font-size: 1.5em;
  }
}

.situtation-bar {
  margin-bottom: 12px;
  font-size: 1.2vw;
  color: $darkgrey;
  font-family: $futura-stack;
  letter-spacing: 1.1px;
  line-height: 6.5vh;
  height: 6vh;
  @media #{$medium-and-down} {
  line-height: 5.5vh;
  margin-top: 12.5vh;
  padding-top: 3px;
  font-size: 3vh;
  padding-bottom: 3px;
  height: 6vh;
  }
}

.situation-image {
  position: fixed;
  height: auto;
  z-index: 4;

  @media #{$small-and-down} {
    top: 10vh;
    left: 4vw;
    width: 80px;
  }
  @media (min-width: $tablet-min-width) and (max-width: $desktop-min-width) {
    top: 10vh;
    left: 9%;
    width: 89px;
  }
  @media #{$large-and-up} {
    top: 30.5vh;
    left: 1vw;
    width: 4.7vw;
  }
}


#back-arrow {
  width: auto;
  height: 4vh;
  float: left;
  cursor: pointer;
  top: 2.5vh;
  left: 4vw;
  position: relative;
  @media #{$large-and-up} {
    top: 1.8vh;
    left: 0.5vw;
  }
}

#next-arrow {
  width: auto;
  height: 4vh;
  cursor: pointer;
  float: right;
  top: 2.5vh;
  right: 4vw;
  position: relative;
}

#next-issue-desktop {
  font-size: 0.9em;
  text-transform: none !important;
  height: 4vh;
  width: 10vw;
  padding: 0;
  float: right;
  line-height: 4vh;
  margin-top: 8%;
  margin-bottom: 10px;
  background-color: $red !important;
  border-radius: 0px 0px 0px 0px !important;
  color: white;
  text-align: center;
}

#next-issue-desktop:hover {
  border-bottom: 2px solid white;
}

#next-arrow-issue {
  width: auto;
  height: 2vh;
  float: right;
  top: 1vh;
  right: .2vw;
  position: relative;
}

#next-arrow-candidate {
  width: auto;
  height: 2vh;
  float: right;
  top: 1vh;
  right: .2vw;
  position: relative;
}
// Animations ///////////////////////////////////////////////////////////////////////////////////////////////////

.collection-item.ng-hide-add {
  /* standard transition code */
  animation:.5s fadeOutLeft;
}
