#mobile-navbar {
  position: fixed;
  background-color: white;
  bottom: 0;
  z-index: 900;
  width: 100vw;
  padding: 0;
  height: 6vh;
}

#nav-mobile-btn {
  background-color: $red;
  color: white;
  line-height: 3.0;
  border-radius: 0;
  height: 6vh;
}

#issue-nav-mobile {
  background-color: $red;
  color: white;
  line-height: 3.0;
  border-radius: 0;
  border-bottom: 4px solid white;
  height: 6vh;
}

#candidate-nav-mobile {
  background-color: $red;
  color: white;
  line-height: 3.0;
  border-radius: 0;
  border-bottom: 4px solid white;
  height: 6vh;
}

#logo-nav-mobile {
  background-color: $red;
  color: white;
  font-family: 'Roboto';
  text-transform: lowercase;
  font-weight: bold;
  font-style: italic;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.5em;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-radius: 0;
  height: 6vh;

}
