.main-background {
  min-height: 100vh;
  background-color: #F6FAFD;
  @media #{$medium-and-down} {
    background-color: white;
  }
}

#navbar-desktop {
  background-color: white;
  box-shadow: 0 -2px -1px 0 rgba(0, 0, 0, -5.84), 0 0px -4px 0 rgba(0, 0, 0, -3.88) !important;
}

.main-nav {
  background-color: white;
  border-bottom: 1px solid $lightgrey;
  box-shadow: 0 -2px -1px 0 rgba(0, 0, 0, -5.84), 0 0px -4px 0 rgba(0, 0, 0, -3.88) !important;
}

#logo-nav-btn {
// box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
width: auto;
height: 5.5vh;
left: -5vw;
top: 1.5vh;
position: relative;
}

#toggle-nav-btn {
  padding: 0 5px 0 5px;
  width: 110px;
  color: white;
  background-color: $mediumgrey;
}

#issue-nav-btn {
  color: white;
  background-color: $brightgreen;
  padding: 0 5px 0 5px;
  width: 110px;
}

#candidate-nav-btn {
  color: white;
  background-color: $brightgreen;
  padding: 0 5px 0 5px;
  width: 110px;
}

.feedback-button {
  background-color: $purple !important;
  width: 7vw;
  top: 8.5vh;
  right: 1vw;
  position: absolute;
  padding: 0;
  font-size: 1.5vh;
  border-radius: 0 0 10px 10px;
  font-family: $futura-light-stack;
  color: white;
}
