// COLUMN NAV COMPONENT
.row {
  margin-bottom: 0;
  position: relative;
  .col.s12.l3.column-nav {
    @extend .z-depth-1;
    border-radius: 0 10px 0 0;
    background-color: white;
    min-height: 87vh;
    padding: 0;
    bottom: 0;
    text-align: center;
    @media #{$medium-and-down} {
      border-radius: 0 0 0 0;
      min-height: 100vh;
    }
     @media #{$large-and-up} {
      position: fixed;
    }
    a {
      color: $darkgrey;
    }
    .collection {
      margin: 0 auto;
      border: none;
      @media #{$large-and-up} {
        position: absolute;
        width: 100%;
      }
      .collection-item {
        border-bottom: none;
      }
      a.collection-item:not(.active):hover {
        background-color: $button-color;
        color: white;
      }
    }
    ul {
      // padding: 3em;
    }
    .issue-items {
      font-size: 3vh;
      letter-spacing: 0.5px;
      font-family: $futura-light-stack;
      margin: .1em;
      @media #{$large-and-up} {
        line-height: 30px;
        font-size: 1.875em;
      }
    }
    .issue-items:hover {
      letter-spacing: 1px;
      font-family: $futura-book-stack;
    }
  }
}

.toggle-content {
  padding: 10px;
}

.issue-body {
  font-size: .5em;
}

#pick-issue-banner {
  background-color: $brightgreen;
  width: 100vw;
  margin-bottom: 0;
  font-size: 2.4em;
  color: white;
}

.item-summary {
  padding: 10px 60px 0px 60px;
  text-align: left;
  @media #{$large-and-up} {
    font-family: $futura-book-stack;
  }
  @media #{$medium-and-down} {
    font-family: $futura-light-stack;
  }
}

.collection-item-chosen {
  background-color: $button-color;
  font-family: $futura-book-stack !important;
  font-size: 4vh;
  line-height: 7.5vh;
  color: white;
  margin: 0;
  @media #{$medium-and-down} {
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 0;
    z-index: 999;
  }
}

.summary {
  overflow: scroll;
  position: static;
    @media #{$large-and-up} {
    height: 48vh;
    padding-bottom: 24px;
    }
}

.situtation-bar {
  font-size: 2.5vh;
  background-color: $lightgrey;
  font-family: $futura-stack;
  letter-spacing: 1.1px;
  line-height: 5.5vh;
  height: 5vh;
  @media #{$medium-and-down} {
  line-height: 4.5vh;
  margin-top: 10vh;
  padding-top: 3px;
  padding-bottom: 3px;
  }
}

#back-arrow {
  width: auto;
  height: 4vh;
  float: left;
  cursor: pointer;
  top: 2vh;
  left: 2vw;
  position: relative;
  @media #{$large-and-up} {
    top: 1.8vh;
    left: 0.5vw;
  }
}

#next-arrow {
  width: auto;
  height: 4vh;
  cursor: pointer;
  float: right;
  top: 2vh;
  right: 2vw;
  position: relative;
}

#next-issue-desktop {
  font-size: 0.9em;
  text-transform: none !important;
  height: 4vh;
  width: 10vw;
  padding: 0;
  float: right;
  line-height: 4vh;
  margin-top: 8%;
  margin-bottom: 10px;
  background-color: $red !important;
  border-radius: 0px 0px 0px 0px !important;
  color: white;
  text-align: center;
}

#next-issue-desktop:hover {
  border-bottom: 2px solid white;
}

#next-arrow-issue {
  width: auto;
  height: 2vh;
  float: right;
  top: 1vh;
  right: .2vw;
  position: relative;
}

#next-arrow-candidate {
  width: auto;
  height: 2vh;
  float: right;
  top: 1vh;
  right: .2vw;
  position: relative;
}
