#mobile-navbar {
  position: fixed;
  // background-color: $red;
  bottom: 0;
  z-index: 900;
  width: 100vw;
  padding: 0;
  height: 7vh !important;
}

#nav-mobile-btn {
  background-color: $red;
  color: white;
  line-height: 3.5 !important;
  border-radius: 0;
  font-size: 2vh;
  height: 7vh !important;
}

#issue-nav-mobile {
  background-color: $red;
  box-shadow: 0 !important;
  color: white;
  line-height: 3.5;
  font-size: 2vh;
  border-radius: 0;
  border-bottom: 4px solid white;
  height: 7vh !important;
}

#candidate-nav-mobile {
  background-color: $red;
  box-shadow: 0 !important;
  color: white;
  line-height: 3.5;
  border-radius: 0;
  font-size: 2vh;
  border-bottom: 4px solid white;
  height: 7vh !important;
}

#logo-nav-mobile {
  background-color: $red;
  color: white;
  font-family: 'Roboto';
  text-transform: lowercase;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  font-size: 3vh !important;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-radius: 0;
  height: 7vh !important;

}
