.admin-nav {
  background-color: white;
}
#admin-nav-issue {
  background-color: $brightgreen;
}

#admin-nav-btn {
  background-color: $mediumgrey;
}

#admin-nav-candidate {
  background-color: $brightgreen;
}

#add-issue {
  background-color: $red;
}

#add-issue-mobile {
  width: 40px;
  padding: 0;
  background-color: $red;
}

#admin-btn-mobile-candidate {
  width: 110px;
  padding: 0;
}

#add-candidate {
  background-color: $red;
}

#add-quote-btn {
  background-color: $brightgreen;
}

#edit-all {
  background-color: $brightgreen;
  width: 90px;
}

#save-all {
  background-color: $brightgreen;
  width: 90px;
}

#delete-button {
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: $red;
  padding: 2%;
  width: 90px;
}

#cancel-delete {
  background-color: $mediumgrey;
}
