<div class="admin issues index page">

<!-- Large Screen Nav -->
  <div class="navbar-fixed hide-on-med-and-down">
    <nav class="admin-nav">
      <div class="container">
        <div class="row">
          <div class="col s8">
            <a class="btn" id="admin-nav-issue" ui-sref='admin.issues'>Issues</a>
            <a class="btn" id="admin-nav-btn" ui-sref='admin.candidates'>Candidates</a>
          </div>
          <div class="col s4 right-align">
            <a class="btn" id="add-issue" ng-click="addIssue = true" rel="leanModal" href="#issue-modal"> + Issues</a>
         </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Tablet and Smaller Nav -->
  <div class="navbar-fixed hide-on-large-only">
    <nav class="admin-nav">
      <div class="container">
        <div class="row">
          <div class="col s10">
            <a class="btn" id="admin-nav-issue" ui-sref='admin.issues'>Issues</a>
            <a class="btn" id="admin-nav-btn" ui-sref='admin.candidates'>Candidates</a>
          </div>
          <div class="col s2 right-align">
            <a class="btn" id="add-issue-mobile" ng-click="addIssue = true" rel="leanModal" href="#issue-modal">+</a>
         </div>
        </div>
      </div>
    </nav>
  </div>

<!-- Index View of Issues -->
  <div class="container">
    <div>
      <table id="issue-list" class="bordered responsive-table">
        <tr>
          <th>Issue Title</th>
          <th>Issue Summary</th>
          <th>Last Updated</th>
        </tr>

        <tr ng-repeat="issue in issues" repeat-done="initModals()">
         <form>
          <td id="issuetitle">
            <span ng-hide="editIssue">{{issue.title}}</span>
            <textarea ng-show="editIssue" type="text" ng-model="issue.title"></textarea>
          </td>

          <td>
            <span ng-hide="editIssue" ta-bind="text" ng-model="issue.summary">{{issue.summary}}</span>
            <text-angular ng-show="editIssue" ta-toolbar="[
            ['h1','h2','h3','h4','h5','h6','p','quote'],
            ['bold','italics','underline','strikeThrough','justifyLeft','justifyCenter','justifyRight','indent']]" ng-model="issue.summary" required>
            </text-angular>
          </td>

          <td>{{issue.updated_at | date:"MM/dd/yyyy 'at' h:mma" }} </td>
          <!-- <td>{{issue.background}}</td> -->
          <td>
            <button class="btn" id="edit-all" ng-click="editIssue = true" ng-hide="editIssue">Edit</button>
            <button class="btn" ng-show="editIssue"  id="save-all" ng-click="update(issue); editIssue = false" type="submit">Save</button>
            <a class="btn" id="delete-button" rel="leanModal" href="#delete-modal" ng-click="deleteIndex($index, issue)" type="submit">Delete</a>
          </td>
        </form>
        </tr>

      </table>
    </div>
  </div>

  <!-- Create Issue Modals -->
  <div class="modal" id="issue-modal">
    <div class="modal-content">

 <!-- Create Issue Form -->
        <form class="col s12" ng-show="addIssue" name="issue_form" novalidate ng-submit="save()">
          <div class="row">
           <h4>New Issue</h4>
            <div class="col s6">
              <h6>Issue Title</h6>
                <textarea id="title" ng-model="issue.title" required ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
            <h6>Issue Summary</h6>
            <text-angular id="summary-text" ta-toolbar="[
            ['h1','h2','h3','h4','h5','h6','p','quote'],
            ['bold','italics','underline','strikeThrough','justifyLeft','justifyCenter','justifyRight','indent']]" ng-model="issue.summary" required>
            </text-angular>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
            <h6>Issue Background</h6>
            <text-angular id="summary-text" ta-toolbar="[
            ['h1','h2','h3','h4','h5','h6','p','quote'],
            ['bold','italics','underline','strikeThrough','justifyLeft','justifyCenter','justifyRight','indent']]" ng-model="issue.background" required>
            </text-angular>
            </div>
          </div>

        <!-- tEST FORM -->
          <div class="row" ng-repeat="issue in issues.issue_side">
            <div class="col s12">
            <h6>Issue Side</h6>
            <textarea id="title" ng-model="issue.issue_side.title" required></textarea>
            </div>
          </div>
          <div class="modal-footer">
              <button class="modal-action modal-close btn waves-effect" id="modal-cancel" name="action" type="reset" >Cancel</button>
              <button class="modal-action modal-close btn waves-effect waves-light" id="modal-save" ng-disabled="issue_form.$invalid" type="submit" name="action" >Save</button>
          </div>
      </form>

    </div>
  </div>

<!-- Delete Issue Verify Modal -->
  <div class="modal" id="delete-modal">
    <div class="modal-content">
      <h4 class="center-align">Are you sure you want to delete this issue?</h4>
      <h6 class="center-align">Deleting an issue will also delete all associated candidate quotes.</h6>
        <div class="center-align">
          <button class="modal-action modal-close btn waves-effect" id="cancel-delete" name="action" type="reset" >Cancel</button>
          <button class="modal-action modal-close btn waves-effect waves-light" ng-click="deleteIssue();" id="delete-button" type="submit" name="action">Delete</button>
        </div>


    </div>
  </div>

</div>
