<div class="main-background">

<!-- Large Screen Nav -->
  <div class="navbar-fixed hide-on-med-and-down">
    <nav class="main-nav">
        <div class="row">
          <div class="col s3">
            <div class="center-align">
              <button class="btn" id="logo-nav-btn"></button>
            </div>
          </div>
          <div class="col s4 right-align">
         </div>
        </div>
    </nav>
  </div>

  <div class="hide-on-med-and-up center-align" id="mobile-navbar">
      <button class="btn" id="issue-nav-mobile">Issues</button>
      <button class="btn" id="logo-nav-mobile"></button>
      <button class="btn" id="candidate-nav-mobile">Candidates</button>
  </div>


  <!-- Issue Navigation for Mobile and Desktop -->
  <div class="row" id="main-body">
    <div class="col s12 l3 column-nav">
      <div class="collection">
        <p class="hide-on-med-and-up" id="pick-issue-banner" ng-hide="pickIssue">Pick an Issue</p>

        <!-- Toggle Buttons on Medium Screens and Up -->
        <div class="toggle-content hide-on-med-and-down">
          <div class="togglebox">
            <button class="btn hide-on-med-and-down" id="toggle-nav-btn">Issues</button>
            <button class="btn hide-on-med-and-down" id="toggle-nav-btn">Candidates</button>
          </div>
        </div>

        <!-- Issue List  for both mobile and desktop -->

        <div class="item-body" ng-repeat="item in issues">
          <a href="javascript:void(0)" ng-click="getScope().pickIssue = true; showSummary(item); getScope().hideSummary = true" ng-model="item.title" class="collection-item" ng-hide="pickIssue">
            <h6 class="issue-items">{{item.title}}</h6>
          </a>
          <div ng-show="hideSummary">
          <div class="summary-box" ng-show="currentIssue == item">
            <h6 class="collection-item-chosen" >
              <a ng-click="getScope().pickIssue = false; getScope().hideSummary = false" class="back-button"><img id="back-arrow" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Back+Button.svg" alt=""> </a>
              {{item.title}}
              <a ng-click="itemNext($index + 1); topScroll()"><img id="next-arrow" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/Next.svg" alt=""> </a>
            </h6>
            <div class="scroll-summary">
              <p class="situtation-bar"> THE SITUATION </p>
              <div class="summary">
                <p ng-model="item.summary" class="item-summary">{{item.summary}}</p>
              </div>
            </div>
            
          </div>
          </div>
        </div> 


      </div>
    </div>


      <!-- Candidate Quote Pop-up List -->
  <div class="col s12 m6 candidate-quote-module">
      <img ng-hide="pickIssue" class="ng-hide hide-on-med-and-down" id="rushmose-image" src="https://s3-us-west-1.amazonaws.com/ivotify-images/ivotify_Candidates.png">

        <div class="ng-hide" id="quote-body" ng-show="pickIssue">
          <div id="candidate-quote" ng-repeat="candidate in candidates">

              <p class="center-align" ng-style="set_color(candidate)" id="candidate-name">
              <img id="candidate-image" ng-src="https://s3-us-west-1.amazonaws.com/ivotify-images/{{candidate.first_name | uppercase}}.png">
              {{candidate.full_name | uppercase}}
              </p>
              <div ng-repeat="quote in candidate.quotes | filter: {issue_id: currentIssue.id}">
                <div class="quote">
                    <p class="center-align" id="quote-one">"{{quote.body}}"</p>
                </div>
                <div class="quote">
                    <p class="right-align" id="source-bar">{{quote.source | uppercase}}</p>
                </div>
                <svg class="line-divider">
                  <line x1="50" y1="0" x2="640" y2="0" style="stroke:rgb(100,100,100);stroke-width:2" />
                </svg>
              </div>
          </div>
        </div>
      </div>
      
  


    </div>


</div>